<div class="app flex-row align-items-center" ng-controller="RegisterCtrl">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form name="register_form" ng-submit="Register()">
              <div class="input-group mb-3">
                <span ng-class="{'invalid-field':register_form.email.$invalid}" class="input-group-addon">@</span>
                <input type="text" class="form-control" name="email" ng-model="Email" placeholder="Email" ng-pattern="Email_Regex" required>
              </div>

              <div class="input-group mb-3">
                <span ng-class="{'invalid-field':register_form.password.$invalid}" class="input-group-addon">
                  <i tooltips tooltip-template="{{password_tip}}" class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" name="password" ng-model="Password" placeholder="Password" ng-pattern="Password_Regex"
                  required>
              </div>

              <div class="input-group mb-4">
                <span ng-class="{'invalid-field':register_form.password.$invalid || Password !== Repeat_Password}" class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" ng-model="Repeat_Password" placeholder="Repeat password" required>
              </div>

              <button type="submit" ng-show="!Registered" ng-disabled="register_form.$invalid || Password !== Repeat_Password" class="btn btn-block btn-success">Create Account</button>
              <p ng-show="Registered">{{registered_msg}}</p>
            </form>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button">
                  <span>facebook</span>
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button">
                  <span>twitter</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>